#menu {
/*	provisional */
	border: 1px solid black;

/*	--------------------------- */
	background-color: #09A;
}

#title {
	text-align: center;
}

#botonesMenu {
/*	provisional */
	border: 1px solid black;

/*	--------------------------- */
	padding-left: 0.5em;
}

#contenido {
	background-color: green;
}

/* Tablas */

table {
	border-collapse: collapse;
	text-align: center;
}

th, td {
	padding: 0.2em;
}

/* Enlaces */

a {
	text-decoration: none;
}

a:link, a:visited {
	color: blue;
}

a:hover {
	color: yellowgreen;
}
